<div class="panel panel-default col-md-8 col-md-offset-2">
  <div class="panel-body text-center">

      <h2>What rating(s) do you prefer?</h2>
      <p>
        <% @ratings.each do |rating|%>
          <%= check_box_tag "rating[user_rating][]", rating %>
          <%= label_tag "rating[user_rating][]", rating %>
        <% end %>
      </p>
      <h3>How much do you care about the movie's rating?</h3>
      <p>
        <% Question.weight.each do |l, weight| %>
          <%= radio_button_tag "rating[rating_weight]", weight %>
          <%= label_tag "rating[rating_weight]", l %>
        <% end %>
      </p>
      <button class="btn btn-primary">Ask Another Question</button>

  </div>
</div>