/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */

html {
  height: 100%;
}

body {
  padding-bottom: 30px;
  // background: url(http://image.tmdb.org/t/p/w1000/bHarw8xrmQeqf3t8HpuMY7zoK4x.jpg) no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

h1{
  font-family: monoton, sans-serif;
  font-size: 100px;
}

h1 a{
  color: white;
  -webkit-animation: neonAnimation 1.5s ease-in-out infinite alternate;
  -moz-animation: neonAnimation 1.5s ease-in-out infinite alternate;
  animation: neonAnimation 1.5s ease-in-out infinite alternate; 
}

h1 a:hover{
  text-decoration: none;
  color: white;
}

#wrap{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding: 0 0 60px;
  margin-bottom: -15px;
}

#footer {
  background: rgba(0,0,0,0.7);
  position:relative;
  bottom: 0;
  width: 100%;
  height: 45px;
  padding-top: 15px;
}

.blue {
  color: #2a9fd6;
}

.navbar-default{
  border: none !important;
  background: rgba(0,0,0,0.7);
  padding: 20px 0;
}

.panel {
  background: rgba(0,0,0,0.9);
  border-radius: 0;
  border: none;
} 

.multiple-alert {
  position: absolute;
  right: 100px;
  top: 110px;
}

.blue-box{
  padding: 10px;
  width: 150px;
  height: 100px;
  border-radius: 4px;
  background: rgba(42,159,214, 0.7);
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
  float:left;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid rgba(42,159,214, 0.7);
  float: left;
  margin-top: 40px;
}

.score-box {
  position: relative;
  float: right;
  width: 100px;
  height: 100px;
  // background: green;
  line-height: 100px;
  box-shadow: 0 0 20px #000;
  text-shadow: 0 0 10px #545454;
}

.movie-img {
  position: relative;
  float: left;
  margin-right:20px;
  width:100px;
}

.movie-description p {
  margin-left:20px;
  margin-right:50px;
  color: #c0c0c0;
  font-size: 18px;
}

.movie-description{
  float:left;
  width:600px;
}

.movie-alert .panel {
  background: rgba(255, 36, 60, 0.8);
}


.movie-description strong {
  color: #e3e3e3;
}

.panel h4 {
  margin: 20px 0;
}

// forms

label {
  font-weight: 100 !important;
  font-size: 18px;
  color: #888;
}

// buttons

.movie-img .btn {
  padding: 5px;
  margin: 10px 5px 0 0;
  width: 154px;
}

.show-all-movies {
  background: #2a9fd6;
  text-transform: uppercase;
  border: 0;
  font-size: 18px;
  margin: 25px;
}

.show-all-movies:hover {
  background: #2a9fd6;
}

.new-question {
  background: #2a9fd6;
  text-transform: uppercase;
  border: 0;
  font-size: 18px;
  margin: 15px;
}

.new-question:hover {
  background: #2a9fd6;
}

.real-results-btn {
  background: #ff243c;
  text-transform: uppercase;
  border: 0;
  font-size: 24px;
  margin: 25px;
}

.real-results-btn:hover {
  background-color: #ff243c;
}

.real-results-btn:active {
  background: #ff243c;
  border-color: #ff243c;
}

.real-results-btn:visited {
  background: #ff243c;
  border-color: #ff243c;
}

.red-glow:hover {
  -webkit-text-shadow: 0 0 5px #fff;
  text-shadow: 0 0 5px #fff;
  -webkit-box-shadow: 0 0 10px #fff,
                      0 0 20px  #fff,
                      0 0 30px  #fff,
                      0 0 40px  #ff243c,
                      0 0 70px  #ff243c,
                      0 0 80px  #ff243c,
                      0 0 100px #ff243c,
                      0 0 150px #ff243c;
  box-shadow: 0 0 10px #fff,
              0 0 20px  #fff,
              0 0 30px  #fff,
              0 0 40px  #ff243c,
              0 0 70px  #ff243c,
              0 0 80px  #ff243c,
              0 0 100px #ff243c,
              0 0 150px #ff243c;
}

.btn-animation {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

.blue-glow:hover {
  -webkit-text-shadow: 0 0 5px #fff;
  text-shadow: 0 0 5px #fff;
  -webkit-box-shadow: 0 0 5px #fff,
                      0 0 10px #fff,
                      0 0 15px #fff,
                      0 0 20px #2a9fd6,
                      0 0 35px #2a9fd6,
                      0 0 40px #2a9fd6,
                      0 0 50px #2a9fd6,
                      0 0 75px #2a9fd6;
  box-shadow: 0 0 5px #fff,
              0 0 10px #fff,
              0 0 15px #fff,
              0 0 20px #2a9fd6,
              0 0 35px #2a9fd6,
              0 0 40px #2a9fd6,
              0 0 50px #2a9fd6,
              0 0 75px #2a9fd6;
}


input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  margin: 0 15px 0 15px;
}

input[type=radio]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  margin: 0 15px 0 15px;
}


// glow animation

@-webkit-keyframes neonAnimation {
  from {
    text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #ff243c,
                 0 0 70px  #ff243c,
                 0 0 80px  #ff243c,
                 0 0 100px #ff243c,
                 0 0 150px #ff243c;
  }
  to {
    text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #2a9fd6,
                 0 0 35px #2a9fd6,
                 0 0 40px #2a9fd6,
                 0 0 50px #2a9fd6,
                 0 0 75px #2a9fd6;
  }
}
